.skills {
  display: flex;
  justify-content: center;
  z-index: 9999;
  padding-left: 2.4%;
  padding-right: 2.4%;
}

.skill {
  text-align: center;
  border: 1px solid #e6ecf8;
  margin-top: -7rem;
  border-radius: 1.4rem;
}

.img-skill {
  height: 3rem;
  margin-top: 3rem;
}

.title-skill {
  margin-top: 1em;
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 1.4rem;
}

.subtitle {
  font-size: 20px;
  max-width: 30rem;
  margin-bottom: 2em;
  list-style: 18px;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: 300;
}

.section-two {
  margin-top: 5rem;
  margin-bottom: 0.8rem;
}

.section-three {
  margin-top: 5rem;
  margin-bottom: 0.8rem;
}

.title-two {
  color: #7510f7;
  font-weight: 500;
  font-size: 18px;
  margin-top: 5rem;
}

.text-two {
  color: #141c3a;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title-three {
  color: #7510f7;
  font-weight: 500;
  font-size: 18px;
}

.list {
  list-style-type: none;
}

.list li {
  color: #141c3a;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .skills {
    flex-wrap: wrap;
  }
  .skill:nth-child(1) {
    margin-bottom: 8rem;
  }
}
