.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
}

.container h2 {
  color: #141c3a;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.container span {
  color: rgba(10, 10, 10, 0.9);
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 3.5rem;
}
.email-me {
  font-weight: 500;
  color: #7510f7;
  padding-left: 8px;
  text-decoration: none;
}

.container .projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  margin-bottom: 2rem;
}

.project-wrapper {
  background-color: gray;
  border-radius: 14px;
  width: 18rem;
  height: 12rem;
  margin: 10px;
}
