.footer {
  background-color: #7510f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-white {
  width: 100%;
  max-width: 8rem;
  max-height: 8rem;
  cursor: pointer;
  display: inline;
  background-color: #7510f7;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.paragraph {
  background-color: #7510f7;
  text-align: center;
  color: white;
  margin: 2rem auto;
  font-weight: 300;
  font-size: 1.6rem;
  opacity: 0.7;
}

.social {
  background-color: #7510f7;
  display: flex;
  width: 30%;
  flex-direction: row;
  justify-content: space-between;
}
a {
  background-color: #7510f7;
}
.circle {
  display: flex;
  background-color: #7510f7;
  border: 3px solid #8b41eb;
  height: 4rem;
  border-radius: 50%;
  width: 4rem;
  opacity: 0.7;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.circle:hover {
  background-color: white;
  border: 3px solid white;
}

.icon {
  background-color: #7510f7;
  transition: 0.4s;
  color: white;
}

.circle:hover .icon {
  background-color: white;
  color: #7510f7;
}

.copyright {
  margin: 2rem;
  background-color: #7510f7;
  font-size: 1.2rem;
}

.copyright-text {
  opacity: 0.7;
  color: white;
  opacity: 0.7;
  background-color: #7510f7;
}

.copyright-link {
  background-color: #7510f7;
  color: white;
  opacity: 0.7;
  text-decoration: none;
  transition: 0.4s ease-in;
}

.copyright-link:hover {
  opacity: 1;
}
